#button__add-user {
  font-size: 20px;
  color: white;

  height: 50px;
  width: 150px;

  background-color: black;
  border: none;
}

.item {
  color: black;
}

.item-info {
  padding: 5px;

  color: black;

  border: 2px solid yellow;
}
